.playerCard img {
  max-width: 210px;
  border-radius: 20px;
  margin-bottom: 1em;
}

.playerCard button a {
  color: white
}

.playerCard--stanned table {
  background-color: whitesmoke;
}

.playerCard--body {
}

.playerIcons {
  display: flex;
  align-items: center;
}
