.playerCard img {
  max-width: 200px;
  border-radius: 20px;
  margin-bottom: 1em;
}

.playerCard--stanned a {
  color: whitesmoke;
}

.playerCard--body {
}

.playerIcons {
  display: flex;
  align-items: center;
}
