.allTime .name {
    background: whitesmoke;
    color: black
}

.scores {
    display: flex;
}

.scoreboard {
    display: flex;
    flex-direction: column;
}

.scoreboard--heading {
    color: white
}

.scoreboard__allTime {
    display: flex;
    margin: 0 0 2rem;
    color: white;
}

.scoreboard__allTime__type {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    text-align: center
}

.score__value {
  position: relative;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  background: whitesmoke;
  border-radius: .25rem;
  padding: 0.25rem;
}

.leaderboard-table {
    background-color: #FD8F35
}

.score_rank {
    background: whitesmoke;
    text-align: center;
    border-radius: .25rem;
}