.name {
}

.user--name {
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
}

.player--name {

}

.user--player {
    color: red
}

textarea {
    resize: none;
}

