.name {
    text-align: center;
}

.user--name {
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
}

.playerName {
    background: #fd7e14;
    color: whitesmoke;
    border: 2px solid;
    text-align: center;
    border-radius: .25rem;
    padding: 5px;
}

.playerName-container {
    display: flex;
}

.modalPlayer .playerName{
    color: whitesmoke;
    background-color: #fd7e14;
    font-size: 25px;
}


textarea {
    resize: none;
}

.sitetitle {
    text-align: center;
    display: none;
}

.sectionTitle {
    text-align: center;
    display:none;
}

.filterControls {
    display: flex;
    justify-content: space-between;
}

.filterText {
    font-style: italic;
    color: rgb(74, 74, 74)
}

.appHeader {
    display: flex;
    justify-content: space-between;
}