.gameplay--container {
    display: flex;
}

.playerCard--stanned {
    color: white
}

.messageEntry {
    background-color: white
}


.messageEntry--header {
    font-size: 2em;
    font-weight: bold;
}

.scoreboard {
    border: 2px solid black;
    border-radius: 20px;
    background: #fd7e14
}